<template>
  <view class="content">
    <image
      class="logo"
      src="https://i.postimg.cc/9FYmpJGh/1-1.png"
      style="width: 400rpx; height: 240rpx"
      @click="gotoword"
    ></image>
    <!-- 轮播题 -->
    <view>
      <view
        class="page-section swiper"
        style="
          width: 100%;
          padding-top: 20rpx;
          height: 400rpx;
          border-radius: 16rpx;
        "
      >
        <view
          class="page-section-spacing"
          style="width: 100%; height: 400rpx; border-radius: 16rpx"
        >
          <swiper
            class="swiper"
            :autoplay="autoplay"
            :interval="interval"
            :duration="duration"
            style="height: 400rpx; border-radius: 16rpx"
          >
            <swiper-item>
              <image
                src="https://seopic.699pic.com/photo/50060/8253.jpg_wh1200.jpg"
                mode=""
              ></image>
            </swiper-item>
            <swiper-item>
              <image
                src="https://seopic.699pic.com/photo/40089/3074.jpg_wh1200.jpg"
                mode=""
              ></image>
            </swiper-item>
            <swiper-item>
              <image
                src="https://seopic.699pic.com/photo/40089/4882.jpg_wh1200.jpg"
                mode=""
              ></image>
            </swiper-item>
          </swiper>
        </view>
      </view>
    </view>
    <!-- 推荐视频 -->
    <view class="main">
      <view class="main_more">
        <view class="m-title"> 实时咨讯 </view>
        <view @click="more">更多></view>
      </view>
      <view class="n-info">
        <view
          v-for="(item, index) in nowInfo"
          :key="index"
          @click="gotoDetail(item.id)"
        >
          <text class="n-item">
            {{ item.title }}
          </text>
        </view>
      </view>
      <view class="m-title"> 首页推荐视频 </view>
      <view class="m-video">
        <video
          id="myVideo"
          src="https://bjetxgzv.cdn.bspapp.com/VKCEYUGU-uni-app-doc/360e4b20-4f4b-11eb-8a36-ebb87efcf8c0.mp4"
          enable-danmu
          danmu-btn
          controls
        ></video>
      </view>
      <view class="m-title"> 首页推荐物品 </view>
      <view class="m-good">
        <view class="g-item" v-for="(item, index) in goodList" :key="index">
          <image :src="item.imgurl" mode="widthFix"></image>
          <view class="g-name">{{ item.name }}</view>
          <view class="g-name"> 参考价:{{ item.price }}元 </view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      indicatorDots: true,
      autoplay: true,
      interval: 2000,
      duration: 500,
      nowInfo: [],
      goodList: [],
    };
  },
  onLoad() {
    this.getdata();
    this.getgood();
  },
  methods: {
    gotoword() {
      console.log("篮球详情");
      uni.navigateTo({ url: "/pages/basket/index?type=1" });
    },
    getdata() {
      const params = {
        page: 1,
        limit: 10,
      };
      this.$axios({ method: "get", url: "/api/news/getnews", params }).then(
        (res) => {
          console.log(res);
          if (res.data.rows.length > 3) {
            this.nowInfo = res.data.rows.splice(0, 3);
          } else {
            this.nowInfo = res.data.rows;
          }
        }
      );
    },
    gotoDetail(id) {
      console.log(id);
      uni.navigateTo({
        url: `/pages/news/index?id=${id}`,
      });
    },
    more() {
      uni.navigateTo({
        url: "/pages/news/list",
      });
    },
    getgood() {
      const params = {
        page: 1,
        limit: 10,
      };
      this.$axios({
        method: "GET",
        url: "/api/good/querybasketgood",
        params,
      }).then((res) => {
        const data = res.data;
        if (data.code === 0) {
          if (res.data.rows.length > 3) {
            this.goodList = res.data.rows.splice(0, 3);
          } else {
            this.goodList = res.data.rows;
          }
        }
      });
    },
  },
};
</script>

<style lang="less">
@keyframes logo_sport {
  0% {
    top: 700rpx;
    left: -100rpx;
  }
  25% {
    top: 800rpx;

    left: -200rpx;
  }
  50% {
    top: 700rpx;
    left: -100rpx;
  }
  75% {
    top: 800rpx;

    left: -200rpx;
  }
  100% {
    top: 700rpx;

    left: -100rpx;
  }
}
.content {
  height: max-content;
  // background-image: url(https://seopic.699pic.com/photo/40139/1224.jpg_wh1200.jpg);
  background: linear-gradient(153deg, #da6244 40%, wheat 60%);
  position: relative;
}
.logo {
  position: fixed;
  top: 800rpx;
  left: -200rpx;
  animation: logo_sport 4s infinite linear;
  z-index: 999;
}
.swiper {
  width: 100%;
  image {
    width: 750rpx;
  }
}

.main {
  width: 680rpx;
  margin: 20rpx auto;

  .m-title {
    font-size: 32rpx;
    font-weight: 600;
    margin-top: 20rpx;
  }

  .n-info {
    .n-item {
      display: inline-block;
      width: 650rpx;
      height: 60rpx;
      line-height: 60rpx;
      color: rgb(22, 20, 20);
      font-size: 30rpx;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      margin-top: 16rpx;
      background: #fff;
      border-radius: 16rpx;
    }
  }
}
.m-video {
  width: 300rpx;
  video {
    width: 680rpx;
    height: 400rpx;
  }
}
.m-good {
  width: 680rpx;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20rpx;
  .g-item {
    width: 300rpx;
    color: #f0ad4e;
    margin-bottom: 40rpx;
    image {
      width: 300rpx;
      height: 300rpx;
    }
    .g-name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      text-align: center;
    }
  }
}
.main_more {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
</style>
