<template>
  <view class="main">
    <view class="title">{{ info.title }}</view>
    <view class="time">{{ info.createtime }}</view>
    <view class="content">{{ info.comment }}</view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      info: {},
    };
  },
  onLoad(options) {
    console.log(options);
    this.getdata(options.id);
  },
  methods: {
    getdata(id) {
      const params = {
        id: id,
        page: 1,
        limit: 1,
      };
      this.$axios({ method: "get", url: "/api/news/getnews", params }).then(
        (res) => {
          console.log(res.data.rows[0]);
          this.info = res.data.rows[0];
        }
      );
    },
  },
};
</script>

<style lang='less'>
.main {
  width: 100vw;
  min-height: 100vh;
  background: wheat;
}
.title {
  width: 100vw;
  text-align: center;
  font-weight: 600;
  font-size: 36rpx;
  padding-top: 40rpx;
}
.time {
  width: 90vw;
  text-align: right;
  color: #666;
  font-size: 28rpx;
}
.content {
  width: 100vw;
  padding: 20rpx 40rpx;
  font-size: 30rpx;
}
</style>
