<template>
  <view class="main">
    <view
      v-for="(item, index) in list"
      :key="index"
      class="item"
      @click="gotoDetail(item.id)"
    >
      {{ item.title }}
    </view>
  </view>
</template>
<script>
export default {
  data() {
    return {
      page: 1,
      limit: 10,
      list: [],
      ishasmore: false,
    };
  },
  onLoad() {
    this.getdata();
  },
  onReachBottom() {
    if (this.ishasmore) {
      console.log("顶部");
      this.page += 1;
      this.getdata();
    }
  },
  methods: {
    getdata() {
      const params = {
        page: this.page,
        limit: this.limit,
      };
      this.$axios({ method: "get", url: "/api/news/getnews", params }).then(
        (res) => {
          this.list = this.list.concat(res.data.rows);
          res.data.rows.length < 10
            ? (this.ishasmore = false)
            : (this.ishasmore = true);
        }
      );
    },
    gotoDetail(id) {
      console.log(id);
      uni.navigateTo({
        url: `/pages/news/index?id=${id}`,
      });
    },
  },
};
</script>
<style lang="less">
.main {
  background: wheat;
    min-height: 92vh;
}
.item {
  width: 90vw;
  line-height: 100rpx;
  border-bottom: 1px solid #999;
  margin: auto;
}
</style>