<template>
  <view>
    <view class="content">
      <image :src="item.imgurl" class="img"></image>
      <view>
        <view style="font-size: 36rpx">球馆名：{{ item.name }}</view>
        <view>地址：{{ item.addr }}</view>
        <view>球馆开放时间:{{ item.open_time }}</view>
        <view>球馆容纳人数：{{ item.num }}人</view>
        <view>球馆联系电话：{{ item.b_tel }}</view>
        <view>已预约人数：{{ item.useNum }}</view>
      </view>
    </view>
  </view>
</template>
<script>
export default {
  data() {
    return {
      item: {},
    };
  },
  onLoad() {
    uni.getStorage({
      key: "order",
      success: (res) => {
          console.log(res);
          this.item=res.data.item
      },
      fail: () => {},
      complete: () => {},
    });
  },
};
</script>
<style lang="less">
.content {
  width: 680rpx;
  height: max-content;
  margin: 40rpx auto;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20rpx;
  padding-top: 50rpx;
  background: wheat;
}

.img {
  width: 300rpx;
  height: 300rpx;
  margin-right: 30rpx;
  padding: 20rpx 0 0 20rpx;
}
</style>