<template>
	<view class="main">
		<view class="tabs">
			<view v-for="(item, index) in filter" :key="index" :class="clickid == item.id ? 'border' : ''"
				@click="change" :data-id="item.id">{{ item.name }}</view>
		</view>
		<view v-for="(item, index) in list" :key="index" class="card">
			<view class="content">
				<image :src="item.imgurl" class="img"></image>
				<view>
					<view style="font-size: 36rpx">球馆名：{{ item.name }}</view>
					<view>地址：{{ item.addr }}</view>
					<view>球馆开放时间:{{ item.open_time }}</view>
					<view>球馆容纳人数：{{ item.num }}人</view>
					<view>球馆联系电话：{{ item.b_tel }}</view>
					<view>已预约人数：{{ item.useNum }}</view>
				</view>
			</view>
			<view class="order" @click="order(item)" v-if="item.isorder">预约</view>
			<view class="order" v-else>人已满了</view>
		</view>
	</view>
</template>
<script>
	export default {
		data() {
			return {
				list: [],
				filter: [{
						name: "全部",
						id: 1
					},
					{
						name: "人气",
						id: 2
					},
					{
						name: "距离最近",
						id: 3
					},
				],
				clickid: 1,
				isorder: true,
			};
		},
		onShow() {
			this.getdata();


		},
		methods: {
			getdata() {
				const params = {
					page: 1,
					size: 1000,
				};
				this.$axios({
					method: "GET",
					url: "/api/basket/getbasket",
					params
				}).then(
					(res) => {
						if (res.data.code == 0) {
							this.list = res.data.data;
							this.list.map((item) => {
								item.useNum = parseInt(item.useNum);
								item.instance = parseInt(item.instance);
								if (parseInt(item.useNum) == parseInt(item.num)) {
									item.isorder = false
								} else {
									item.isorder = true
								}
							});
							console.log(this.list);
						}
					}
				);
			},
			change(e) {
				const id = e.currentTarget.dataset.id;
				let data = this.list;
				this.clickid = id;
				switch (id) {
					case 1:
						this.getdata()
						break;
					case 2:
						data.sort(this.compare("useNum"));
						this.list = data;
						break;
					case 3:
						data.sort(this.compare("instance"));
						this.list = data;
						break;
				}

			},
			compare(p) {
				//这是比较函数
				return function(m, n) {
					var a = m[p];
					var b = n[p];
					return b - a; //升序
				};
			},
			order(item) {

				const params = {
					useNum: item.useNum + 1,
					id: item.id
				}
				wx.getStorage({
					key: "order",
					success: (res) => {
						const old_day = res.data.day
						const new_day = new Date().getDate()
						console.log(res.data.day)
						if (old_day == new_day) {
							uni.showToast({
								title: "今天你有预约了哟,不能在预约了"
							})
						} else {
							this.$axios({
								method: "POST",
								url: "/api/basket/update",
								params
							}).then(res => {
								this.getdata()
								uni.showToast({
									title: "预约成功"
								})
								uni.setStorage({
									key: "order",
									data: {
										item: item,
										day: new Date().getDate()
									}
								})
							})
						}
					},
					fail: () => {
						this.$axios({
							method: "POST",
							url: "/api/basket/update",
							params
						}).then(res => {
							this.getdata()
							uni.showToast({
								title: "预约成功"
							})

							uni.setStorage({
								key: "order",
								data: {
									item: item,
									day: new Date().getDate()
								}
							})
						})
					}
				})

			}
		},
	};
</script>
<style lang="less">
	.tabs {
		width: 100vw;
		height: 80rpx;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.main {
		background: linear-gradient(153deg, #da6244 40%, wheat 60%);
		width: 100vw;
		height: max-content;
		overflow: scroll;
		padding-bottom: 40rpx;
		position: relative;
	}

	.content {
		width: 680rpx;
		height: max-content;
		margin: 40rpx auto;
		display: flex;
		justify-content: flex-start;
		padding-bottom: 20rpx;
	}

	.img {
		width: 300rpx;
		height: 300rpx;
		margin-right: 30rpx;
		padding: 20rpx 0 0 20rpx;
	}

	.card {
		width: 680rpx;
		margin: auto;
		background: #fff;
		border-radius: 20rpx;
		padding-bottom: 20rpx;
	}

	.order {
		width: 600rpx;
		margin: auto;
		background: #da6244;
		color: #fff;
		text-align: center;
		line-height: 60rpx;
		margin-bottom: 20rpx;
		border-radius: 100rpx;
	}

	.border {
		border-bottom: 6rpx solid #da6244;
	}
</style>
