<template>
  <view class="content">
    <view class="header">
      <view class="user-header">
        <image src="https://seopic.699pic.com/photo/50135/8221.jpg_wh1200.jpg">
        </image>
      </view>
      <view class="user" v-if="!isHave">
        <view class="login">您还未登录哦～～ </view>
        <view @click="tologin" class="login_btn">立即登录</view>
      </view>
      <view class="user" v-else>
        <view class="user_name">{{ userInfo.name }}</view>
      </view>
    </view>
    <view class="userinfo" v-if="isHave">
      <view class=""> 我的电话:{{ userInfo.tel || "" }} </view>
      <view class=""> 我的生日：{{ userInfo.birth || "" }} </view>
      <view class=""> 我的地址:{{ userInfo.addr || "" }} </view>
      <view class=""> 我的喜好:{{ userInfo.hobby || "" }} </view>
    </view>
    <view class="other">
      <view class="o-item">版本号：v1.0.0</view>
      <view class="o-item" @click="gopage">
        <view>关于APP</view>
        <image src="https://cdn-ssl.meb.com/mwa/v2.4.8/arrow-right.png"></image>
      </view>
      <view class="o-item" v-if="isHave" @click="gotopage">
        <view>我预约的球馆</view>
        <image src="https://cdn-ssl.meb.com/mwa/v2.4.8/arrow-right.png"></image>
      </view>
    </view>
    <view class="logout" @click="logout" v-if="isHave">退出登录</view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      userInfo: {},
      isHave: false,
    };
  },

  onShow() {
    uni.getStorage({
      key: "userinfo",
      success: (e) => {
        console.log(e);
        this.isHave = true;
        this.userInfo = e.data;
      },
    });

    uni.getLocation({
      success: (res) => {
        console.log("地点", res);
      },
    });
  },
  methods: {
    tologin() {
      uni.navigateTo({
        url: "/pages/login/index",
      });
    },
    logout() {
      uni.removeStorage({
        key: "userinfo",
        success: () => {
          uni.navigateBack({
            delta: 2,
          });
        },
      });
      uni.removeStorage({
        key: "order",
      });
    },
    gopage() {
      uni.navigateTo({
        url: "/pages/about/index",
      });
    },
    gotopage() {
      uni.navigateTo({
        url: "/pages/my/index",
      });
    },
  },
};
</script>
<style lang="less">
.content {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(153deg, #da6244 40%, wheat 60%);

  .header {
    width: 680rpx;
    height: 300rpx;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .user-header {
      margin-right: 20rpx;
      width: 200rpx;
      height: 200rpx;
      overflow: hidden;
      border-radius: 100rpx;

      image {
        width: 200rpx;
        height: 200rpx;
        border-radius: 100rpx;
      }
    }

    .user {
      padding-bottom: 60rpx;
      font-size: 30rpx;

      .login {
        font-size: 36rpx;
      }

      .login_btn {
        width: max-content;
        margin-top: 30rpx;
        background-color: #f4dba8;
        color: black;
        padding: 6rpx;
        border-radius: 10rpx;
      }

      .user_name {
        font-size: 60rpx;
      }
    }
  }

  .userinfo {
    width: 650rpx;
    background-color: white;
    margin: auto;
    box-shadow: 0px 2px 13px 0px rgba(232, 231, 231, 0.5),
      0px 8px 19px 9px rgba(193, 191, 191);

    view {
      height: 60rpx;
      line-height: 60rpx;
      width: 650rpx;
      margin: auto;
      padding-left: 20rpx;
    }
  }

  .other {
    width: 650rpx;
    margin: 60rpx auto;
    color: #110d0d;

    .o-item {
      width: 650rpx;
      height: 80rpx;
      line-height: 80rpx;
      border-bottom: 1rpx solid #110d0d;
      display: flex;
      justify-content: space-between;
      align-items: center;

      image {
        width: 30rpx;
        height: 40rpx;
      }
    }
  }

  .o-item:nth-of-type(1) {
    border-top: 1rpx solid #110d0d;
  }

  .logout {
    width: 600rpx;
    height: 80rpx;
    line-height: 80rpx;
    text-align: center;
    border: 2rpx solid #111;
    margin: auto;
    border-radius: 20rpx;
  }
}
</style>
