<template>
  <view style="padding-top: 100rpx">
    <view class="item">app版本：v1.0.0</view>
    <view class="item">app版本：v1.0.0</view>
    <view class="item">app版本：v1.0.0</view>
    <view class="item">app版本：v1.0.0</view>
  </view>
</template>
<style lang="less">
.item {
  margin-top: 30rpx;
  width: 80vw;
  text-align: left;
  font-weight: 600;
  font-size: 32rpx;
  margin: auto;
}
</style>