<template>
  <view class="main">
    <view class="nav"> 发布内容： </view>
    <view class="content">
      <textarea v-model="text" :value="text" maxlength="200" placeholder="请输入你的帖子内容" />
	  <view class="icon">{{text.length}}/200</view>
    </view>
  
    <view class="submit" @click="submit">提交</view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      text: "",
      name: "",
      imageUrl: "",
      fileValue: "",
      iconBase64: "",
    };
  },
  onShow() {
    uni.getStorage({
      key: "userinfo",
      success: (res) => {
        const data = res.data;
        console.log(data);
        this.name = data.name;
      },
    });
  },
  methods: {
    submit() {
      console.log(this.text, this.$date(new Date()));
      const params = {
        time: this.$date(new Date()),
        c_msg: this.text,
        name: this.name,
		comments:""
      };
	  this.$axios({method:"POST",url:"/api/com/add",params}).then(res=>{
		  if(res.data.code==0){
			  uni.showToast({
				  title: '发布成功',
				  icon: 'none',
				  success:()=>{
					  uni.navigateBack({
						  delta: 1
					  });
				  }
			  });
		  }
		  
	  })
    },
  },
};
</script>

<style lang="less">
.main {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background: linear-gradient(153deg, #da6244 40%, wheat 60%);
  .nav {
    width: 680rpx;
    margin: 40rpx auto;
    text-align: left;
    font-size: 36rpx;
  }
  .content {
    width: 680rpx;
    height: auto;
    margin: 40rpx auto;
    textarea {
      border-radius: 20rpx;
      width: 680rpx;
      min-height: 600rpx;
      border: 1px solid #ccc;
      padding: 10rpx;
    }
  }
}
.submit {
  width: 600rpx;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  border-radius: 20rpx;
  color: black;
  margin: auto;
  border: 1px solid black;
}
.icon{
	width: 680rpx;
	text-align: right;
	color: #ccc;
	margin: auto;
	margin-top:-60rpx
}
</style>
