<template>
  <view class="content">
    <view class="head">
      <view class="com">
        <image src="../../static/篮球.png" mode=""></image>
        <!-- <image src="../../static/篮球.png" mode="widthFix"></image> -->
        篮球社区
      </view>
      <view class="" @click="add"> +评论 </view>
    </view>
    <view class="main">
      <view style="font-size: 30rpx; margin-bottom: 20rpx">{{
        info.name
      }}</view>
      <view style="margin-bottom: 20rpx">{{ info.time }}</view>
      <view style="margin-bottom: 20rpx">{{ info.c_msg }}</view>
    </view>
    <view class="comments" v-if="isShow">
      <textarea v-model="text" maxlength="200"></textarea>
      <view style="text-align: right; padding-right: 20rpx; color: #e8e8e8"
        >{{ text.length }}/200</view
      >
    </view>
    <view class="submit" v-if="text.length > 0" @click="submit">提交</view>
    <view class="other" v-for="(item, index) in list" :key="index">
      <view class="item">
        <view> {{ item.name }}</view>
        <view>{{ item.com_time }}</view>
      </view>
      <view>{{ item.text }}</view>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      info: {},
      isShow: false,
      text: "",
      list: [],
      name: "",
    };
  },
  onLoad(option) {
    this.info = JSON.parse(option.item);
    if (this.info.comments) {
      this.list = JSON.parse(this.info.comments);
    }
    uni.getStorage({
      key: "userinfo",
      success: (res) => {
        this.name = res.data.name;
      },
    });
    console.log(this.list, "=======>");
  },
  methods: {
    add() {
      this.isShow = true;
    },
    submit() {
      let com = {
        com_time: this.$date(new Date()),
        text: this.text,
        name: this.name,
      };
      this.list.push(com);
      const params = {
        id: this.info.id,
        comments: JSON.stringify(this.list),
      };
      console.log(params);
      this.$axios({ method: "POST", url: "/api/com/update", params }).then(
        (res) => {
            this.text=""
            this.isShow=false
        }
      );
    },
  },
};
</script>

<style lang="less">
.content {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background: linear-gradient(153deg, #da6244 40%, wheat 60%);
  .head {
    width: 80%;
    height: 100rpx;
    font-size: 36rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .com {
      height: 100rpx;
      display: flex;
      align-items: center;
      image {
        width: 60rpx;
        height: 60rpx;
      }
    }
  }
  .main {
    width: 80vw;
    height: max-content;
    box-shadow: 0px 2px 13px 0px rgba(232, 231, 231, 0.5),
      0px 8px 19px 9px rgba(193, 191, 191);
    margin: 20rpx auto;
    margin-bottom: 40rpx;
    padding: 20rpx;
  }
}
.comments {
  width: 680rpx;
  height: 300rpx;
  margin: 30rpx auto;
  background: rgba(193, 191, 191);
  border-radius: 20rpx;
  textarea {
    width: 600rpx;
    height: 200rpx;
    margin: auto;
    padding-top: 20rpx;
  }
}
.submit {
  width: 600rpx;
  height: 100rpx;
  border: 1px solid black;
  color: black;
  text-align: center;
  line-height: 100rpx;
  margin: 20rpx auto;
  border-radius: 20rpx;
}
.other {
  width: 680rpx;
  height: auto;
  margin:60rpx auto;
  padding: 20rpx;
  border:1px solid black;
  border-radius: 10rpx;

  .item {
    display: flex;
    justify-content: space-between;
  }
}
</style>
