<template>
  <view class="content">
    <view class="head">
      <view class="com">
        <image src="../../static/篮球.png" mode=""></image>
        <!-- <image src="../../static/篮球.png" mode="widthFix"></image> -->
        篮球社区
      </view>
      <view class="" @click="add"> +发布内容 </view>
    </view>
    <view class="main" v-for="(item, index) in list" :key="index">
      <view style="font-size: 30rpx; margin-bottom: 20rpx">{{
        item.name
      }}</view>
      <view style="margin-bottom: 20rpx">{{ item.time }}</view>
      <view style="margin-bottom: 20rpx">{{ item.c_msg }}</view>
      <view class="" style="text-align: right" @click="toPage(item)">
        查看详情>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      list: [],
    };
  },
  onShow() {
    this.getdata();
  },
  methods: {
    getdata() {
      uni.request({
        url: "/api/com/getcom",
        method: "GET",
        data: {
          page: 1,
          size: 1000,
          from: "other",
        },
        success: (res) => {
          console.log(res.data.data);
          const data = res.data;
          if (data.code === 0) {
            this.list = data.data;
            this.list.reverse();
            console.log(this.list);
          }
        },
      });
    },
    add() {
      uni.navigateTo({
        url: "/pages/community/add",
      });
    },
    toPage(item) {
      console.log(item);
      uni.navigateTo({
        url: `/pages/community/detail?item=${JSON.stringify(item)}`,
      });
    },
  },
};
</script>

<style lang="less">
.content {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background: linear-gradient(153deg, #da6244 40%, wheat 60%);
  .head {
    width: 80%;
    height: 100rpx;
    font-size: 36rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .com {
      height: 100rpx;
      display: flex;
      align-items: center;
      image {
        width: 60rpx;
        height: 60rpx;
      }
    }
  }
  .main {
    width: 80vw;
    height: max-content;
    box-shadow: 0px 2px 13px 0px rgba(232, 231, 231, 0.5),
      0px 8px 19px 9px rgba(193, 191, 191);
    margin: 20rpx auto;
    margin-bottom: 40rpx;
    padding: 20rpx;
  }
}
</style>
