<template>
  <view class="main">
    <view class="head">
      <view class="title" data-type="0" @click="toPage">
        <image src="../../static/人物-04.png" mode=""></image>
        <view>篮球代表人物</view>
      </view>
      <view class="title" data-type="1" @click="toPage">
        <image src="../../static/文档.png" mode=""></image>
        <view>篮球介绍</view>
      </view>
      <view class="title" data-type="3" @click="toPage">
        <image src="../../static/技巧.png" mode=""></image>
        <view>技巧、术语</view>
      </view>
      <view class="title" data-type="2" @click="toPage">
        <image src="../../static/篮球.png" mode=""></image>
        <view>球馆预约</view>
      </view>
      <view class="tabs">
        <view
          v-for="(item, index) in filter"
          :key="index"
          :class="clickid == item.id ? 'border' : ''"
          @click="change"
          :data-id="item.id"
          >{{ item.name }}</view
        >
      </view>
    </view>
    <view class="goods" v-for="(item, index) in newlist" :key="index">
      <image :src="item.imgurl"></image>
      <view class="info">
        <view style="font-szie: 36rpx">{{ item.name }}</view>
        <view>参考价格：{{ item.price }}</view>
        <view>购买链接：{{ item.url }}</view>
        <view>介绍:{{ item.msg }}</view>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      filter: [
        {
          name: "全部",
          id: 0,
        },
        {
          name: "人气",
          id: 1,
        },
        {
          name: "篮球",
          id: 2,
        },
        {
          name: "防护",
          id: 3,
        },
        {
          name: "好物",
          id: 4,
        },
      ],
      clickid: 0,
      list: [],
      newlist: [],
      list1:[],
      list2:[],
      list3:[],
      list4:[]
    };
  },
  onLoad() {
    this.getdata();
  },
  methods: {
    toPage(e) {
      const type = parseInt(e.currentTarget.dataset.type);
      console.log(type);
      if (type !== 2) {
        uni.navigateTo({ url: `/pages/basket/index?type=${type}` });
      } else {
        uni.navigateTo({ url: `/pages/room/index` });
      }
    },
    change(e) {
      const id = e.currentTarget.dataset.id;
      let data = this.list;
      this.clickid = id;
      switch (id) {
        case 0:
          this.getdata()
        case 1:
          this.list1 = data.filter((item) => {
            if (parseInt(item.tag) == 1) {
              return item;
            }
          });
          this.newlist=this.list1
          break;
        case 2:
          this.list2 = data.filter((item) => {
            if (parseInt(item.tag) == 2) {
              return item;
            }
          });
          this.newlist=this.list2
          break;
        case 3:
          this.list3 = data.filter((item) => {
            if (parseInt(item.tag) == 3) {
              return item;
            }
          });
          this.newlist=this.list3
          break;
        case 4:
          this.list4 = data.filter((item) => {
            if (parseInt(item.tag) == 4) {
              return item;
            }
          });
          this.newlist=this.list4
          break;
      }
      console.log(this.newlist);
    },
    compare(p) {
      //这是比较函数
      return function (m, n) {
        var a = m[p];
        var b = n[p];
        return b - a; //升序
      };
    },
    getdata() {
      const params = {
        page: 1,
        size: 10000,
      };
      this.$axios({ method: "GET", url: "/api/good/getgood", params }).then(
        (res) => {
          this.list = res.data.data;
          this.newlist=this.list
        }
      );
    },
  },
};
</script>

<style lang="less">
.main {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(153deg, #da6244 40%, wheat 60%);
  position: relative;
  .head {
    width: 100vw;
    height: 300rpx;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .title {
      width: 100rpx;
      margin: auto;
      height: 150rpx;
      text-align: center;
      font-size: 26rpx;
      font-weight: 600;
      image {
        margin: auto;
        width: 100rpx;
        height: 100rpx;
      }
    }
  }
}
.tabs {
  width: 100vw;
  height: 80rpx;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.border {
  border-bottom: 6rpx solid #da6244;
}
.goods {
  width: 690rpx;
  height: 200rpx;
  margin: 20rpx auto;
  border: 1px solid #fff;
  border-radius: 20rpx;
  display: flex;
  justify-content: flex-start;
  image {
    width: 200rpx;
    height: 200rpx;
    margin-right: 20rpx;
  }
}
</style>
