<template>
  <view class="denglu">
    <text class="shuoming">请输入您的账号</text>
    <view class="form-wrap">
      <view class="flex-wrap input-wrap">
        <text class="label">账号</text>
        <input
          value=""
          name="uname"
          class="account-info-input"
          v-model="username"
        />
      </view>
      <view class="flex-wrap input-wrap">
        <text class="label">密码</text>
        <input
          type="password"
          value=""
          name="upwd"
          class="account-info-input"
          v-model="password"
        />
      </view>
    </view>
    <text class="shuoming">请填写账号信息，有问题请联系客服</text>
    <button class="mysubmit" @click="login">登录</button>
    <button class="myreset" @click="toreg">注册</button>
    <image
      src="https://i.postimg.cc/9FYmpJGh/1-1.png"
      style="width: 400rpx; height: 240rpx"
    ></image>
  </view>
</template>

<script>
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    login() {
      const params = {
        username: this.username,
        password: this.password,
      };
      this.$axios({ method: "POST", url: "/api/users/login", params }).then(
        (res) => {
          if (res.data.code == 0) {
            console.log(res.data.userinfo);
            uni.setStorage({
              key: "userinfo",
              data: res.data.userinfo,
            });
            uni.navigateBack({
              delta: 1,
            });
          } else {
            uni.showToast({
              title: "请输入正确的账号和密码哟",
              icon: "none",
              duration: 1500,
            });
          }
        }
      );
    },
    toreg() {
      uni.navigateTo({
        url: "/pages/login/reg",
      });
    },
  },
};
</script>

<style>
page {
  background-color: #f2f2f2;
}

.denglu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 10px;
}

.shuoming {
  display: block;
  margin: 10px 0;
  color: gray;
  font-size: 14px;
}
button {
  width: 80%;
  background-color: tomato;
}
.mysubmit {
  background-color: tomato;
  color: #fff;
}

.myreset {
  margin-top: 10px;
  background-color: tomato;
  color: #fff;
}
.flex-wrap {
  display: flex;
  flex-direction: row;
}

.input-wrap {
  background: #fff;
  border-bottom: 1px solid #eee;
  margin: 0, -12px;
  padding: 0 12px;
  height: 46px;
  line-height: 46px;
}

.label {
  color: #999;
  width: 4.5rem;
}

.account-info-input {
  font-size: 18px;
  line-height: 100%;
  height: 100%;
  width: 100%;
}
</style>
