<template>
  <view class="main">
    <view class="title"> 欢迎加入</view>
    <view class="item">
      <view>账号</view><input v-model="form.username" />
    </view>
    <view class="item">
      <view>密码</view><input v-model="form.password" />
    </view>
    <view class="item"> <view>tel</view><input v-model="form.tel" /> </view>
    <view class="item"> <view>姓名</view><input v-model="form.name" /> </view>
    <view class="item"> <view>性别</view><input v-model="form.sex" /> </view>
    <view class="item"> <view>年龄</view><input v-model="form.age" /> </view>
    <view class="item"> <view>地址</view><input v-model="form.addr" /> </view>
    <view class="item"> <view>生日</view><input v-model="form.birth" /> </view>

    <view class="reg" @click="reg"> 注册</view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      form: {
        birth: "",
        tel: "",
        name: "",
        age: "",
        sex: "",
        addr: "",
        username: "",
        password: "",
      },
    };
  },
  methods: {
    reg() {
      let params = this.form;
      params.age = parseInt(params.age);
      console.log(params);
      console.log("reg");
      this.$axios({ method: "POST", url: "/api/users/reg", params }).then(
        (res) => {
          if (res.data.code == 0) {
            uni.showToast({
              title: "注册成功",
              duration: 2000,
			  success:()=>{
				  uni.navigateBack({
				  	delta:1
				  })
			  }
            });
          }
        }
      );
    },
  },
};
</script>

<style lang="less">
.main {
  background: linear-gradient(153deg, #da6244 40%, wheat 60%);
  height: 100vh;
}
.item {
  width: 640rpx;
  height: 100rpx;
  margin: auto;
  display: flex;
  align-items: center;
  view {
    width: max-content;
  }
  input {
    width: 500rpx;
    height: 80rpx;
    padding-left: 30rpx;
    border-bottom: 1px solid gray;
  }
}
.reg {
  width: 600rpx;
  height: 100rpx;
  margin: 20rpx auto;
  border: 1px solid black;
  border-radius: 25rpx;
  text-align: center;
  line-height: 100rpx;
}
</style>
